:root{
  --bg : #fcfcfc;
  --pri : #eee;
  --sec : #F44336;
  --hover : #f3f3f3;
  --text : #000;
}

html{
  font-family: 'Source Sans Pro', sans-serif;
  background: var(--bg);
}

body{
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  background: var(--bg);
}

h1{
  text-align: center;
}

h2{
  margin: 10px 0px;
}

table{
  width: 100%;
  text-align: left;
  padding: 10px 0px;
  table-layout: fixed;
}

th, td{
  padding: 10px 12px;
  border: 1px solid var(--hover);
  border-left: 2px solid var(--sec);

}

th{
  background-color: var(--hover);
}

nav{
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--pri);
  padding: 0px;
}

.nav-items a{
  display: inline-block;
  width: 120px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

.nav-items a.active{
  border-bottom: 3px solid var(--sec);
}

.nav-items a:hover{
  background: var(--hover);
}

.nav-items {
  width: 1000px;
  margin: auto;
}

.title{
  margin-top: 40px;
  text-align: center;
  padding-top: 100px;
  height: 180px;
  color: white;
  text-shadow: -1px 2px 7px black;
  font-size: 18px;
  background-image: url("https://i.imgur.com/91efHrk.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.body-con{
  width: 1000px;
  padding-top: 40px;
  margin: auto;
}
